
.icon-ico_saldo:before { content: '\e801'; } /* '' */
.icon-ico_favoritos:before { content: '\e802'; } /* '' */
.icon-ico_origen:before { content: '\e803'; } /* '' */
.icon-ico_cedula:before { content: '\e804'; } /* '' */
.icon-ico_celular:before { content: '\e805'; } /* '' */
.icon-ico_contactos:before { content: '\e806'; } /* '' */
.icon-ico_entretenimiento:before { content: '\e807'; } /* '' */
.icon-ico_publicidad:before { content: '\e808'; } /* '' */
.icon-ico_programadas:before { content: '\e809'; } /* '' */
.icon-ico_perfil:before { content: '\e80a'; } /* '' */
.icon-ico_mail:before { content: '\e80b'; } /* '' */
.icon-ico_contrasena:before { content: '\e80c'; } /* '' */
.icon-ico_choferes:before { content: '\e80d'; } /* '' */
.icon-ico_validar:before { content: '\e80e'; } /* '' */
.icon-ico_nombre:before { content: '\e80f'; } /* '' */
.icon-ico_vehiculo:before { content: '\e810'; } /* '' */