/*
    To change this license header, choose License Headers in Project Properties.
    To change this template file, choose Tools | Templates
    and open the template in the editor.
*/
/* 
    Created on : 19-sep-2016, 10:55:47
    Author     : JAlvarez
*/
$primaryColor: #757575;
$primaryDarkColor: #424242;
$primaryLightColor: #EEEEEE;
$accentColor: #FDE62E;
$accentDarkColor: #F2DA30;
$accentLightColor: #FDE873;
$accentTextColor: #ffffff;
$darkMenuBgColor: #424242;
$darkMenuHoverColor: #676767;

@import '../../sass/layout/_layout';
