@import url("fonts/CaviarDreams/stylesheet.css");
@font-face {
	font-family: 'CaviarDreams';
	src: url('CaviarDreams.ttf') format('truetype');
}

@font-face {
	font-family: 'BebasNeue';
	src: url('BebasNeue.otf') format('opentype');
}

